:root {
    --background-color: black;
    --title-color: red;
    --underline-color: gray;
    --muted-text-color: gray;
    --info-text-color: white;
    --first-text-color: yellow;
    --second-text-color: green;
    --headcell-text-color: green;
    --help-text-color: white;
    --soup-text-color: green;
    --button-focus-color: red;
    --bold-font: AlmaraiBold;
  }

@font-face {
    font-family: AlmaraiLight;
    src: url(./fonts/Almarai/Almarai-Light.ttf);
}

@font-face {
    font-family: AlmaraiRegular;
    src: url(./fonts/Almarai/Almarai-Regular.ttf);
}

@font-face {
    font-family: AlmaraiBold;
    src: url(./fonts/Almarai/Almarai-Bold.ttf);
}

@font-face {
    font-family: AlmaraiExtra;
    src: url(./fonts/Almarai/Almarai-ExtraBold.ttf);
}

.light {
    font-family: AlmaraiLight;
}

.extra {
    font-family: AlmaraiExtra;
}

.bold {
    font-family: AlmaraiBold;
}

html {
    font-family: AlmaraiRegular;
    background-color: var(--background-color);
}

*:not(option) {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--background-color);
}

/*TODO: replace all flex items with xt-flex so these can be removed*/
.flex-across {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.flex-down {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

button.menu-item:focus {
    color: black !important;
    background-color: var(--button-focus-color) !important;
    border: none;
    text-decoration: none;
    outline: none;
}

.invisble {
    visibility: hidden;
}

/* *:disabled {
    background-color: purple;
} */